

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="/" class="logo-normal text-sm-center">
            <img src="{{ config.ASSETS_ROOT }}/img/logo_spd.png" alt="Logo SPD" style="width:169px;height:73px;">
          </a>
        </div>

        <ul class="nav">
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'arima' in segment %} active {% endif %}">
            <a href="/arima.html">
              <i class="tim-icons icon-chart-bar-32"></i>
              <p>Prediction</p>
            </a>
          </li>
        </ul>
        
      </div>
    </div>
